*.DS_Store filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/LICENSE filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/NOTICE filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/bin/asterixcc filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/bin/asterixhelper filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/bin/asterixnc filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/bin/asterixncservice filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/ansible/README filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/ansible/conf/inventory filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/aws/README filter=lfs diff=lfs merge=lfs -text
*.idx_checkpoint_0 filter=lfs diff=lfs merge=lfs -text
*.metadata filter=lfs diff=lfs merge=lfs -text
*.idx_checkpoint_1 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/conn/0/conn/0_0_b filter=lfs diff=lfs merge=lfs -text
*.dic filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/conn/0/conn/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/dce_rpc/0/dce_rpc/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/dce_rpc/0/dce_rpc/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/dns/0/dns/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/dns/0/dns/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/files/0/files/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/files/0/files/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ftp/0/ftp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ftp/0/ftp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/http/0/http/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/http/0/http/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/kerberos/0/kerberos/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/kerberos/0/kerberos/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/modbus/0/modbus/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/modbus/0/modbus/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/notice/0/notice/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/notice/0/notice/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ntlm/0/ntlm/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ntlm/0/ntlm/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ntp/0/ntp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ntp/0/ntp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/pe/0/pe/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/pe/0/pe/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/rdp/0/rdp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/rdp/0/rdp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/smb_mapping/0/smb_mapping/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/smb_mapping/0/smb_mapping/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/smtp/0/smtp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/smtp/0/smtp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/snmp/0/snmp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/snmp/0/snmp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ssh/0/ssh/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ssh/0/ssh/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ssl/0/ssl/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/ssl/0/ssl/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/syslog/0/syslog/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/syslog/0/syslog/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/weird/0/weird/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/weird/0/weird/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/x509/0/x509/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/storage/partition_1/Heterog/x509/0/x509/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/txnlog/checkpoint_13 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/txnlog/checkpoint_14 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/txnlog/checkpoint_15 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/blue/txnlog/transaction_log_16 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/conn/0/conn/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/conn/0/conn/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/dce_rpc/0/dce_rpc/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/dce_rpc/0/dce_rpc/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/dns/0/dns/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/dns/0/dns/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/dpd/0/dpd/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/dpd/0/dpd/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/files/0/files/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/files/0/files/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ftp/0/ftp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ftp/0/ftp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/http/0/http/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/http/0/http/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/kerberos/0/kerberos/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/kerberos/0/kerberos/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/modbus/0/modbus/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/modbus/0/modbus/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/notice/0/notice/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/notice/0/notice/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ntlm/0/ntlm/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ntlm/0/ntlm/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ntp/0/ntp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ntp/0/ntp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/pe/0/pe/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/pe/0/pe/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/rdp/0/rdp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/rdp/0/rdp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/smb_files/0/smb_files/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/smb_files/0/smb_files/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/smb_mapping/0/smb_mapping/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/smb_mapping/0/smb_mapping/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/smtp/0/smtp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/smtp/0/smtp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/snmp/0/snmp/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/snmp/0/snmp/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ssh/0/ssh/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ssh/0/ssh/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ssl/0/ssl/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/ssl/0/ssl/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/syslog/0/syslog/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/syslog/0/syslog/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/weird/0/weird/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/weird/0/weird/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/x509/0/x509/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Heterog/x509/0/x509/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/CompactionPolicy/0/CompactionPolicy/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/CompactionPolicy/0/CompactionPolicy/0_0_f filter=lfs diff=lfs merge=lfs -text
*.idx_checkpoint_10 filter=lfs diff=lfs merge=lfs -text
*.idx_checkpoint_9 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Dataset/0/Dataset/0_8_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Dataset/0/Dataset/0_8_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Dataset/0/Dataset/9_9_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Dataset/0/Dataset/9_9_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/DatasourceAdapter/0/DatasourceAdapter/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/DatasourceAdapter/0/DatasourceAdapter/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Datatype/0/Datatype/0_8_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Datatype/0/Datatype/0_8_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Datatype/0/Datatype/9_9_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Datatype/0/Datatype/9_9_f filter=lfs diff=lfs merge=lfs -text
*.idx_checkpoint_8 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Dataverse/0/Dataverse/0_8_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Dataverse/0/Dataverse/0_8_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/FeedPolicy/0/FeedPolicy/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/FeedPolicy/0/FeedPolicy/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Index/0/Index/0_8_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Index/0/Index/0_8_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Index/0/Index/9_9_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Index/0/Index/9_9_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Node/0/Node/0_0_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Node/0/Node/0_0_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Nodegroup/0/Nodegroup/0_8_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Nodegroup/0/Nodegroup/0_8_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Nodegroup/0/Nodegroup/9_9_b filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/storage/partition_0/Metadata/Nodegroup/0/Nodegroup/9_9_f filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/txnlog/checkpoint_13 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/txnlog/checkpoint_14 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/txnlog/checkpoint_15 filter=lfs diff=lfs merge=lfs -text
/asterixdb/apache-asterixdb-0.9.9/opt/local/data/red/txnlog/transaction_log_16 filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.ndjson filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.zng filter=lfs diff=lfs merge=lfs -text
/zed/database/2ceeFmrLg6OuBvoq0ctjIMg1GcE/branches/HEAD filter=lfs diff=lfs merge=lfs -text
/zed/database/2ceeFmrLg6OuBvoq0ctjIMg1GcE/branches/TAIL filter=lfs diff=lfs merge=lfs -text
/zed/database/2ceeFmuKzNTz3gclsPdQDPoxEmv/branches/HEAD filter=lfs diff=lfs merge=lfs -text
/zed/database/2ceeFmuKzNTz3gclsPdQDPoxEmv/branches/TAIL filter=lfs diff=lfs merge=lfs -text
/zed/database/pools/HEAD filter=lfs diff=lfs merge=lfs -text
/zed/database/pools/TAIL filter=lfs diff=lfs merge=lfs -text
*.zson filter=lfs diff=lfs merge=lfs -text
